jupyterlab
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
fsspec
gcsfs
xgboost
pyspark
tqdm
google-cloud-storage
fastapi
uvicorn[standard]
joblib
apache-airflow[celery,postgres,redis]
psycopg2-binary
flower
pyarrow
optuna
